<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>(Kata kyu) Kata title</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>
            <span>(Kata kyu)</span> Kata title 1
        </h1>
        <section class="instructions">
          <p>
            Kata instructions
          </p>
          <h2>
            Kata title 2
          </h2>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ul>
          <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ol>
          <p>Paragraph with example of <code>source code</code></p>

<pre>
  <code>
    Line 1 <span class="note"># Comment</span>
    Line 2 <span class="note"># Comment</span>
    Line 3 <span class="note"># Comment</span>
  </code>
</pre>

        </section>
        <section class="notes">
          <p class="note">
            Kata note
          </p>
          <p>
              <a href="#" target="_blank">Codewars link</a>
          </p>
        </section>
        <script src="script.js"></script>
    </body>
</html>
