<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>(Kata kyu) Kata title</title>
        <link rel="icon" href="favicon.ico" />
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

      <header>
        <div class="kyu">
          <div class="kyu__badge">
            <div class="kyu__rank">
              <span>0 Kyu</span>
            </div>
          </div>
        </div>
        <h1>Kata title 1</h1>
      </header>

      <main>
        <section class="instructions">
          <p>
            Kata instructions
          </p>

          <h2>
            Kata title 2
          </h2>

          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ul>

          <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ol>

          <table>
            <thead>
              <tr>
                <th>Title 1</th>
                <th>Title 2</th>
                <th>Title 3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Paragraph 1</td>
                <td>Paragraph 2</td>
                <td>Paragraph 3</td>
              </tr>
              <tr>
                <td>Paragraph 1</td>
                <td>Paragraph 2</td>
                <td>Paragraph 3</td>
              </tr>
              <tr>
                <td>Paragraph 1</td>
                <td>Paragraph 2</td>
                <td>Paragraph 3</td>
              </tr>
            </tbody>
          </table>

          <p>Paragraph with example of <code>source code</code></p>

          <blockquote>
            Blockquote text
          </blockquote>

<pre>
  <code>
    Line 1 <span class="note"># Comment</span>
    Line 2 <span class="note"># Comment</span>
    Line 3 <span class="note"># Comment</span>
  </code>
</pre>
        </section>
      </main>

      <footer>
        <ul class="tags">
          <li>Tag 1</li>
          <li>Tag 2</li>
          <li>Tag 3</li>
        </ul>

        <section class="notes">
          <p class="note">
            Kata note
          </p>

          <p>
              <a href="#" target="_blank">Codewars link</a>
          </p>
        </section>
      </footer>

      <script src="script.js"></script>
    </body>
</html>
