/* Vendor */

@import url(../vendor/fonts.css);

/* Default */

body {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
      "header"
      "content"
      "footer";
  grid-template-columns: minmax(320px,960px);
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  min-height: 100vh;
  margin:0;
  padding: 50px 25px 50px;
  background-color: #303133;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #efefef;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  grid-area: header;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

/* Sections */

.instructions {
  text-align: left;
}

.notes {
  margin: 12px 0 0;
  border-top: 1px solid rgba(255, 255, 255, .125);
  text-align: center;
}

/* Headlines */

h1 {
  max-width: 850px;
  text-align: center;
}

h1 > span {
  margin: 32px 0;
  font-size: 0.6em;
  color: #969896;
}

/* Lists */

ul,
ol {
  margin: 16px 0;
  padding-left: 0;
  list-style-type: none;
}

ul li,
ol li {
  position: relative;
  padding-left: 24px;
}

ul li:before,
ol li:before {
  position: absolute;
  left: 0;
  color: #969896;
}

ul > li::before{
  top: 12px;
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #969896;
}

ol {
  counter-reset: ordered-list;
}

ol > li::before{
  top: 0px;
  content: counter(ordered-list) ".";
  counter-increment: ordered-list;
}

li {
  margin: 8px 0;
  text-align: left;
}

/* Tables */

table {
  width: 100%;
  margin: 16px 0;
  border-spacing: 0;
  font-size: 14px;
  line-height: 1.75em;
}

th, td {
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, .125);
}

th {
  padding-top: 0;
  font-weight: 700;
}

th:first-of-type,
td:first-of-type {
  padding-left: 0;
}

th:last-of-type,
td:last-of-type {
  padding-right: 0;
}

tr:last-of-type td {
  padding-bottom: 0;
  border: 0;
}

blockquote,
li,
p {
  line-height: 1.75em;
}

/* Images */

img {
  display: block;
  margin: 16px 0;
}

/* Tags */

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 8px;
}

.tags li {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, .1);
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
}

.tags li:not(:last-of-type) {
  margin-right: 12px;
}

.tags li::before {
  display: none;
}

/* Links */

a:link,
a:visited {
  border-bottom: 1px solid rgba(103,149,222,.3);
  color: #6795de;
  text-decoration: none;
  transition: color .3s ease, border-color .3s ease;
}

a:hover {
  border-bottom: 1px solid rgba(187,67,44,.3);
  color: #bb432c;
}

/* Blockquote */

blockquote {
  margin-right: 0;
  margin-left: 0;
  padding: 0 0 0 16px;
  border-left: 2px solid rgba(255, 255, 255, .125);
  font-style: italic;
}

/* Code */

code {
  padding: 2px 4px;
  border: 1px solid rgba(255, 255, 255, .125);
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
}

pre {
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 4px;
  line-height: 1.75em;
}

pre code {
  padding: 0;
  border: 0;
}

.note{
  color: #969896;
}

hr {
  height: 1px;
  margin: 1em 0;
  border: 0;
  background-color: rgba(255, 255, 255, .125);
}

/* Kyu */

.kyu--8 .kyu__badge,
.kyu--7 .kyu__badge {
  background-color: #e6e6e6;
}
.kyu--8 .kyu__badge::before,
.kyu--7 .kyu__badge::before {
  border-right: 8px solid #e6e6e6;
}
.kyu--8 .kyu__badge::after,
.kyu--7 .kyu__badge::after {
  border-left: 8px solid #e6e6e6;
}
.kyu--8 .kyu__rank,
.kyu--7 .kyu__rank {
  color: #e6e6e6;
}

.kyu--6 .kyu__badge,
.kyu--5 .kyu__badge{
  background-color: #ecb613;
}
.kyu--6 .kyu__badge::before,
.kyu--5 .kyu__badge::before {
  border-right: 8px solid #ecb613;
}
.kyu--6 .kyu__badge::after,
.kyu--5 .kyu__badge::after {
  border-left: 8px solid #ecb613;
}
.kyu--6 .kyu__rank,
.kyu--5 .kyu__rank {
  color: #ecb613;
}

.kyu--4 .kyu__badge,
.kyu--3 .kyu__badge {
  background-color: #1f87e7;
}
.kyu--4 .kyu__badge::before,
.kyu--3 .kyu__badge::before {
  border-right: 8px solid #1f87e7;
}
.kyu--4 .kyu__badge::after,
.kyu--3 .kyu__badge::after {
  border-left: 8px solid #1f87e7;
}
.kyu--4 .kyu__rank,
.kyu--3 .kyu__rank {
  color: #1f87e7;
}

.kyu--2 .kyu__badge,
.kyu--1 .kyu__badge {
  background-color: #866cc7;
}
.kyu--2 .kyu__badge::before,
.kyu--1 .kyu__badge::before {
  border-right: 8px solid #866cc7;
}
.kyu--2 .kyu__badge::after,
.kyu--1 .kyu__badge::after {
  border-left: 8px solid #866cc7;
}
.kyu--2 .kyu__rank,
.kyu--1 .kyu__rank {
  color: #866cc7;
}

.kyu__badge {
  position: relative;
  z-index: 1;
  width: 34px;
  height: 26px;
  margin-right: 8px;
  margin-left: 8px;
  font-weight: 700;
}

.kyu__badge::before,
.kyu__badge::after {
  position: absolute;
  top: 0;
  z-index: 0;
  content: " ";
  width: 0;
  height: 0;
}

.kyu__badge::before {
  left: -8px;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}

.kyu__badge::after {
  right: -8px;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}

.kyu__rank {
  position: relative;
  top: 2px;
  z-index: 1;
  width: 32px;
  height: 22px;
  margin-left: 1px;
  background-color: #303133;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
}

.kyu__rank::before,
.kyu__rank::after {
  position: absolute;
  top: 0;
  z-index: 2;
  content: " ";
  width: 0;
  height: 0;
}

.kyu__rank::before {
  left: -6px;
  border-right: 6px solid #303133;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

.kyu__rank::after {
  right: -6px;
  border-left: 6px solid #303133;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

.kyu__rank span {
  position: relative;
  z-index: 2;
}

/* Dashboard */

.dashboard td {
  width: 50%;
}
.dashboard td:last-of-type {
  text-align: right;
}

.dashboard__kyu {
  display: flex;
  justify-content: center;
}
