/* Vendor */

@import url(../vendor/fonts.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  padding: 50px 25px 50px;
  background-color: #303133;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #efefef;
}

section {
  width: 100%;
  max-width: 650px;
}

.instructions {
  text-align: left;
}

.notes {
  margin: 12px 0 0;
  border-top: 1px solid rgba(255, 255, 255, .125);
  text-align: center;
}

h1 {
  max-width: 850px;
  text-align: center;
}

h1 span {
  margin: 32px 0;
  font-size: 0.6em;
  color: #969896;
}

ul,
ol {
  margin: 16px 0;
  padding-left: 0;
  list-style-type: none;
}

ul li,
ol li {
  position: relative;
  padding-left: 24px;
}

ul li:before,
ol li:before {
  position: absolute;
  left: 0;
  color: #969896;
}

ul > li::before{
  top: 8px;
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #969896;
}

ol {
  counter-reset: ordered-list;
}

ol > li::before{
  top: 0px;
  content: counter(ordered-list) ".";
  counter-increment: ordered-list;
}

li {
  margin: 8px 0;
  text-align: left;
}

p {
  line-height: 1.75em;
}

.note{
  color: #969896;
}

a:link,
a:visited {
  border-bottom: 1px solid rgba(103,149,222,.3);
  color: #6795de;
  text-decoration: none;
  transition: color .3s ease, border-color .3s ease;
}

a:hover {
  border-bottom: 1px solid rgba(187,67,44,.3);
  color: #bb432c;
}

code {
  padding: 2px 4px;
  border: 1px solid rgba(255, 255, 255, .125);
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
}

pre {
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 4px;
  line-height: 1.75em;
}

pre code {
  padding: 0;
  border: 0;
}
